<footer class="footer">
    <div class="container footer-container">
      <div class="footer-logo">
        <img src="assets/img/logo_sem_nome.png" width="120"/>
        <h2>CalmaMente</h2>
        <p>Apoio emocional para transtornos de ansiedade</p>
      </div>
      
      <div class="footer-links">
        <div class="link-group">
          <h3>Recursos</h3>
          <ul>
            <li><a routerLink="/breathing">Respiração Guiada</a></li>
            <li><a routerLink="/diary">Diário Emocional</a></li>
            <li><a routerLink="/relaxation">Relaxamento</a></li>
            <li><a routerLink="/emergency">Modo de Emergência</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h3>Ajuda</h3>
          <ul>
            <li><a routerLink="/professional">Ajuda Profissional</a></li>
            <li><a href="https://www.cvv.org.br/" target="_blank">CVV</a></li>
            <li><a routerLink="#">Sobre Nós</a></li>
            <li><a routerLink="#">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
        <p>&copy; 2025 CalmaMente. Todos os direitos reservados.</p>
        <p>Criado por Mariane Dias e Jackson Silva.</p>
      </div>
    </div>
  </footer>